<div class="pf2e-auto-action-tracker-sustain-card">
    <p>Maintain <strong>{{itemName}}</strong>?</p>
    <div class="flexrow" style="gap: 5px;">
        <button type="button" data-action="sustain-yes" data-actor-id="{{actorId}}" data-item-id="{{itemId}}"
            data-item-name="{{itemName}}">
            <i class="fas fa-sync"></i> Sustain
        </button>
        <button type="button" data-action="sustain-no" data-actor-id="{{actorId}}" data-item-id="{{itemId}}">
            <i class="fas fa-trash"></i> Let Lapse
        </button>
    </div>
</div>